/*
Theme Name: Vibrant 
Author URI: http://webthemez.com/
Description: This theme is a best responsive web template. It would be great for a corporate websites, business websites, personal blog.
License: Free to use for personal and commercial, but you need to place back link in the bottom of the template.
*/
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #666666;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
::selection {
    color: #fff;
    background: #0F60A0;
}

::-moz-selection {
    color: #fff;
    background: #0F60A0;
}
p {
    color: #858585;
    margin: 0 0 1em !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
.fitImage {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.animated {
    /* -webkit-animation-duration: 1s; */
    animation-duration: 1s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.mcbook {
    opacity: 0;
}
.show {
    opacity: 1;
}
.pDark p {
    color: #6D6D6D;
}
#services{
    padding-bottom: 15px;
}
#services .circle:hover {
    /*	transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotateY(360deg);
            transition: all 0.2s linear 0s;
            -webkit-transition: all 0.2s linear 0s;
            -moz-transition: all 0.2s linear 0s;
            -o-transition: all 0.2s linear 0s;*/
}
.pDark h3 {
    color: #BEBEBE;
}
.btn {
    background: #0F60A0;
}
.btn:hover {
    background: #145AC4;
}
.btn, .form-control, .team-socials i {
    border-radius: 5px !important;
}
.form-group {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 75%;
}
.form-control {
    border: none;
    padding: 22px 4px;
    outline: none;
    color: #585858;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background:rgba(245, 242, 237, 0.11);
    font-size: inherit;
    border-radius: 0px !important;
    width: 99%;
}
.button-outline {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #fff;
    border-radius: 0px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(255,255,255,0.15);
}
.button-outline:hover {
    color: #fff;
    background: rgba(255,255,255,0.35);
}
a {
    color: #0F60A0;
    text-decoration: none;
    text-shadow: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
a:hover {
    color: #000;
    text-decoration: none;
}
.btn {
    border: 0px;
    border-radius: 0px;
}
.btn-primary {
    background: #0F60A0;
}
.form-control {
    border-radius: 0px;
}
.mrgn30 {
    margin: 30px 0;
}
.copyright {
    color: #6D6D6D;
    background: #161616;
    padding: 20px 0;
}
#top {
    position: relative;
}
.topHome {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
}
.topHome:hover {
    color: #555;
}
/* Header 
----------------------------------------------*/
#section-top {
    background: #4E4E4E;
}
#section-top ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
#section-top ul li {
    display: inline-block;
}
#section-top ul li a {
    border-radius: 2px;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 35px;
    text-align: center;
}
#section-top .region-top-first {
    float: right;
}
.header {
    position: fixed;
    width: 100%;
    background: transprant;
    z-index: 50;
    border-radius: 0;
    top: 0px;
}
.navbar-brand {
    display: none;
}
.navbar-nav {
    float: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
}
.navbar-nav>li {
    float: none;
    display: inline-block;
}
.addBg .navbar-nav {
    float: right;
    position: initial;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.addBg {
    background: #000;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.addBg .navbar-brand {
    display: block;
}
.navbar-inverse {
    background: transparent;
}
.navbar-inverse .navbar-toggle {
    background-color: #0F60A0;
}
.navbar-inverse .navbar-toggle .icon-bar {
    /*background-color: #0F60A0;*/
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: #0F60A0;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-inverse .navbar-toggle:hover .icon-bar {
    background: #fff;
}
.navbar-toggle {
}
.hero-text {
    color: #676e73;
    width: 83%;
    text-align: center;
    margin: 18% auto 24px auto;
    font-family: 'Oswald', sans-serif;
}
.hero-text p {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 12px 8% 0;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}
.actionPanel {
    padding: 25px 0;
    background: #0F60A0;
}
.actionPanel h3 {
    margin: 0px;
}
.circle {
    background: #6D6D6D;
    color: #FFFFFF;
    line-height: 120px !important;
    background: red;
    display: block;
    width: 100%;
}
#section-strapline {
    background: #f00bfff;
    line-height: 42px;
    clear: both;
}
/*----Nav ----*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: 0px solid transparent;
}
.header .navbar-brand {
    float: left;
    line-height: 35px;
    height: 50px;/*color:#0F60A0;*/
}
.navbar-brand b {
    color: #fff;
    font-weight: 900;
}
.navbar-brand b i {
    color: #fff;
    font-style: normal;
}
.logo {
    font-size: 2.2em;
    text-shadow: none;
    margin: 8px 0 0 0;
}
.logo b {
    color: #fff;
    font-family: 'Lobster', cursive;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 6px 22px;
    border-radius: 40px;
}
.addBg .logo b {
    padding: 0px;
    border: none;
}
.logo:hover {
    color: #5A5A5A;
}
.header .navbar {
    margin: 0;
    background: transparent;
    border: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 1.2em !important;
    line-height: normal;
    margin: 17px;
    padding: 6px 0px !important;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #147FD3;
    background: none;
    border-radius: 0px;
}
.navbar-inverse .navbar-nav > .active {
}
.navbar-nav > li:hover > a {
    color: #fff;
}
.header .navbar-nav > li > a {
    padding: 25px 18px;
}
.page-section {
    width: 100%;
    height: auto;
    padding: 35px 0;
}
.noPadd {
    padding: 0;
}
.page-section h1 {
    font-size: 3.5em;
    margin: 90px 0 30px;
    line-height: 1.2em;
}
.page-section h1 span {
    font-weight: 200;
}
.page-section h2 {
    color: #0F60A0;
}
.page-section p {
    font-size: 1.1em;
    line-height: 1.6em;
}
.darkBg {
    background: #000;
}
.darkBg .fa {
    color: #0F60A0;
}
/*--- Banner ----*/
.banner-container {
    width: 100%;
    position: relative;
    padding: 0px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
    /*background: url("../images/banner-bg.jpg") no-repeat;*/
    background-size: 100% 100%;
    background-size: cover;
    position: relative;
    border-bottom: 2px #0F60A0 solid;
}
.banner-container > img {
    width: 100%;
}
.banner-content {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    right: 0px;
}
.hero-text h1 {
    color: #616161;
    font-size: 6.5em;
    margin: 2% 0 30px;
    line-height: 1.5em;
    text-shadow: 1px 1px 1px #8F8F8F;
    font-size: 40px;
    margin: 45px 0 13px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
.hero-text p {
    font-size: 1.6em;
    color: #fff;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px #8F8F8F;
}
.arrow-link {
    display: inline-block;
    font-size: 17px;
    margin-top: 20px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    width: 60px;
    color: #686868 !important;
    border-radius: 98px;
    border: 1px solid #fff;
    padding: 6px 3px;
}
a.arrow-link {
    color: #0F60A0;
}
a.arrow-link:hover {
    color: #fff;
}
.colord {
    background: #0F60A0;
}
.colord h3 {
    color: #fff;
}
.hero-button {
    text-align: center;
    background: rgba(255, 255, 255, 0.36);
    border: 1px solid #fff;
    padding: 20px;
    display: inline-block;
    margin: 0 auto;
    clear: left;
    width: auto;
}
.hero-img {
    text-align: center;
    margin: 124px auto 24px auto;
}
.da-slider {
    margin: 0 auto !important;
}
.heading h2 {
    color: #222;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
}
#contactUs .heading h2 {
    color: #fff;
}
.sub-heading {
    padding: 15px 0;
}
.sub-heading h2 {
    font-size: 18px;
    margin: 15px 0 8px !important;
}
.sub-heading p {
    color: #5A5A5A;
}
.heading {
    padding: 3px 10px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    display: block;
}
.heading p {
    font-size: 1.2em;
}
.pdingBtm30 {
    padding-bottom: 30px;
}
.da-arrows span:after {
    width: 25px;
    height: 37px;
}
.da-arrows span {
    position: absolute;
    top: 50%;
    height: 34px;
    width: 34px;
    border-radius: 60px;
    background: none;
}
.da-dots span {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.13);
    margin: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(255,255,255,0.1);
    border: 2px solid #0F60A0;
}
img, video, iframe, embed, object {
    max-width: 100%;
    height: auto;
}
/* Features
    -------------------------------------------------*/
#features h2 {
    color: #fff;
}
#features h4 {
    color: #fff;
}
#features .fetaure-details,
#features p {
    color: #A1C7FF;
}
#aboutUs {
    background: #fff;
    padding-top: 35px;
    padding-bottom: 25px;
    overflow: hidden;
}
#aboutUs .feature {
    margin-top: 30px;
    margin-bottom: 54px;
}
#aboutUs .right {
    padding-left: 32px;
    float: right;
}
#aboutUs .left {
    padding-right: 32px;
    float: left;
}
#aboutUs h3 {
    font: 18px/34px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #222;
}
.fluid-video-wrapper {
    margin-top: 18px;
}
#aboutUs .left {
    padding-right: 32px;
    float: left;
}
#aboutUs .right {
    float: right;
}
.row .six {
    width: 50%;
}
/* Services
    -------------------------------------------------*/
#services {
    background: #DDDDDD;
}
.tbox {
}
.tbox1 h3 {
    color: #555;
    text-align: left;
}
.tbox h3, .tbox p {
    color: #555;
    text-align: left;
    padding: 0 15px;
}
.tbox1 .circle {
    background: #F7BC35;
}
.tbox2 .circle {
    background: #2FD7EE;
}
.tbox3 .circle {
    background: #47E072;
}
.tbox4 .circle {
    background: #BD67E5;
}
.tbox .fa-2x {
    font-size: 3em;
}
.tbox p {
    padding-bottom: 15px;
    font-size: 16px;
}
.cbox {
    background: #EBEBEB;
}
.grid .text-content {
    padding-left: 35%;
}
.grid .text-content {
    display: block;
    padding-left: 19%;
    padding-right: 8%;
}
.grid .grid-item {
}
.grid .text-content h5 {
    font-weight: bold;
}
.grid .grid-item .item-content {
    display: block;
    outline: none;
    text-decoration: none;
    padding: 20px 0;
}
.item-content .fa {
    position: absolute;
    color: #646464;
    font-size: 4.5em;
    top: 36px;
}
.services .fa {
    font-size: 35px;
    margin-right: 10px;
}
.services h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
.features .feature {
    margin-bottom: 40px;
}
.features .phone-image {
    max-width: 250px;
    margin: auto;
    margin-bottom: 80px;
}
.features .feature p {
    margin: 0 0 10px;
}
.features .features-right {
    text-align: left;
    margin-top: 26px;
    margin-bottom: 80px;
}
.features .features-left {
    text-align: right;
    margin-top: 26px;
    margin-bottom: 80px;
}
.services .fa {
    color: #0F60A0;
}
/* Team
    ---------------------------------------------------*/
#team {
    background: #0F60A0;
}
#team h2, #team p {
    color: #fff;
}
.team-member {
    margin-bottom: 15px;
    background: #fff;
}
.member-img {
    overflow: hidden;
}
.team-member h4 {
    font-size: 19px;
    line-height: 32px;
    margin: 10px 0 0;
    text-align: center;
}
.team-member .pos {
    display: block;
    margin: 0;
    text-align: center;
}
.team-member .contact a {
    padding: 0 8px;
}
.team-socials a {
    background: white;
    padding: 7px 0;
    margin: 2px;
}
#contactUs {
    /*background: #0F60A0;*/;
}
#contactUs .btn {
    border-radius: 0px !important;
    background: #0F60A0;
}
.descrition {
    min-height: 90px;
    /*text-align: center;*/
    /*border-bottom: 1px solid #dadde2;*/
    padding: 5px 15px;
}
.team-socials {
    margin: 15px 0;
    text-align: center;
}
.team-member:hover .team-socials {
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.team-socials i {
    width: 35px;
    height: 35px;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 18px;
}
/* --Portfolio----- */
#work {
    color: #fff;
}
#portfolio {
    width: 100%
}
#portfolio .filters {
    margin-bottom: 20px
}
#portfolio .filters li a {
    color: #999;
    font-weight: 600;
    text-transform: uppercase;
}
#portfolio .filters li a, #portfolio .filters li a:hover, #portfolio .filters li a:focus {
    color: #0F60A0
}
#portfolio .filters li a.active {
    color: #000
}
#portfolio .items {
    margin-bottom: 0
}
#portfolio .items li {
    position: relative;
    float: left;
    width: 25%;
    overflow: hidden;
}
#portfolio .items li a img {
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#portfolio .items li a .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,0.6);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
#portfolio .items li a .overlay span {
    color: #FFF;
    position: absolute;
    height: 50px;
    top: 50%;
    left: 0px;
    right: 0px;
    margin-top: -25px;
    line-height: 50px;
    text-align:center;
}
#portfolio .items li a:hover .overlay {
    opacity: 1
}
#portfolio .items li a:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
nav#filter {
    margin-bottom: 1.5em;
}
nav#filter li {
    display: inline-block;
    margin: 0 0 0 5px;
}
nav#filter a {
    padding: 4px 12px;
    line-height: 20px;
    border: 1px solid #0F60A0;
    text-decoration: none;
}
.current {
    background: #0F60A0;
    color: #fff;
}
.page-section.intro {
    min-height: 600px;
}
.btn {
    font-weight: 200;
}
.btn-dark {
    background: #444;
    color: #fff;
}
.btn-dark:hover {
    background: #000;
    color: #fff;
}
.back-to-top {
    display: inline-block;
    clear: both;
    background: #fff;
    color: #333;
    padding: 0 10px 5px;
    margin: 20px 0 0;
    text-shadow: none;
}
.back-to-top:hover {
    background: #333;
    color: #fff;
    text-decoration: none;
}
hr {
    border-color: #ddd;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
#navigation {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    background: #ffffff;
    box-shadow: 0 10px 10px -10px #000000;
}
#navigation > li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#navigation > li > a {
    margin: 1px;
    color: #000000;
    background: #cccccc;
    display: block;
    padding: 5px;
    text-decoration: none;
    transition: all 400ms;
}
#navigation > li > a.current, #navigation > li:hover > a {
    background: #999999;
}
.pageSection {
    min-height: 600px;
    padding: 20px;
    background: #dddddd;
}
.pageSection:nth-child(odd) {
    background: #eeeeee;
}
.socialIcons li {
    list-style: none;
    display: inline;
    margin-right: 6px;
}
footer {
    border-top: 1px solid #e5e5e5;
    padding: 45px 0;
    background: #fff;
}
.social a:hover {
    color: #000;
}
.social a {
    font-size: 32px;
    margin: 0 10px;
    color: #0F60A0;
}
.contact ul li {
    margin-bottom: 10px;
}
.contact ul li i {
    margin-right: 15px;
}
/*Clients*/
.clients #owl-demo .item {
    background: none;
}
.clients .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.clients .helper img {
    vertical-align: middle;
    max-height: 70px;
    max-width: 80%;
}
.clients .helper:hover {
    cursor: e-resize;
}
.clients .customNavigation > a {
    font-size: 25px;
    cursor: pointer;
    margin: 0px 5px;
}
.portfolio-item img:hover {
    width: 110%;
    height: 110%;
}

@media (max-width:980px) {
    .hero-text {
        margin: 18% auto 24px;
    }
    .hero-text h1 {
        line-height: 1.40em;
        font-size: 31px !important;
        margin: 25px 0px 13px;
    }
    .header .navbar-brand {
        line-height: 35px;
    }
}

@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 0;
    }
    .navbar-nav {
        float: right;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
        font-size: 1.1em;
        padding: 6px 0px !important;
        border-radius: 5px;
        margin: 19px 6px;
    }
}

@media (max-width: 768px) {
    .banner-container {
        background-size: contain;
    }
    .row .six {
        width: auto;
    }
    .da-slide h2 {
        font-size: 28px;
    }
    .banner-content p {
        font-size: 1.2em;
        text-shadow: none;
    }
    .hero-img {
        display: none;
    }
    .team-member .member-img img {
        max-width: 100%;
    }
    .da-slider {
        height: 380px;
        width: 100%;
        min-width: initial;
        margin: 0px !important;
    }
    .header .navbar-nav > li > a {
        padding: 25px 12px;
    }
    .portfolio-item img {
        text-decoration: none;
        display: block;
        width: 330px;
        height: 228px;
        float: left;
        margin: 0 3px 3px 0;
        opacity: 1;
        -webkit-transform: scale(1, 1);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 250ms;
        -moz-transform: scale(1, 1);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 250ms;
    }
    .portfolio-item:hover .folio-info {
        top: 0px;
    }
    .portfolio-item .portfolio-desc .folio-info {
        padding: 0px;
    }
    .portfolio-item .portfolio-desc .folio-info h5 {
        font-size: 1em;
    }
    .hero-text {
        margin: 12% auto 24px;
    }
    .hero-text h1 {
        line-height: 1.0em;
        font-size: 27px !important;
        margin: 25px 0px 13px;
    }
    .header .navbar-brand {
        line-height: 35px;
    }
}

@media (max-width: 767px) {
    #mainNav {
        background: none repeat scroll 0% 0% rgba(5, 5, 5, 0.94);
        transition: all 0.3s linear 0s;
    }
}

@media (max-width:760px) {
    .header .navbar-nav > li > a {
        padding: 7px 12px;
        font-size: 14px;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #A8A8A8;
    }
    ;
}

@media (max-width: 480px) {
    .banner-container {
        background-size: contain;
    }
    .banner-container > img {
        width: 100%;
        height: 240px;
    }
    .responsive-headline {
        font-size: 16px !important
    }
    .hero-text {
        margin-top: 29%;
    }
    .navbar {
        min-height: 69px;
    }
    .arrow-link {
        display: none;
    }
    .da-slide h2 {
        font-size: 22px;
        top: 7px;
        text-shadow: none;
    }
    .da-slide p {
        width: 65%;
        top: 42px;
        height: 50px;
    }
    #section-top ul li a {
        height: 28px;
        line-height: 28px;
        width: 26px;
    }
    .team-socials a {
        background: white;
        padding: 1px 0;
        margin: 2px;
    }
    .team-socials i {
        width: 19px;
        height: 19px;
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 16px;
    }
    .page-section {
        padding: 0px;
    }
    .page-section h1 {
        font-size: 3em;
    }
    .page-section h2 {
        font-size: 2em;
    }
    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;
    }
    .portfolio-item .portfolio-desc .folio-info h5 {
        font-size: 11px;
    }
    .hero-text {
        margin: 10% auto 24px;
    }
    .hero-text h1 {
        line-height: 1.2em;
        font-size: 20px !important;
        margin: 25px 0px 13px;
    }
    .header .navbar-brand {
        line-height: 35px;
    }
}

@media (max-width: 320px) {
    .banner-container {
        background-size: contain;
    }
    .da-slider {
        height: 300px;
    }
    .da-slider {
        width: 100%;
        min-width: initial;
        position: relative;
        margin: 0 auto;
    }
    .da-dots {
        bottom: 2px;
    }
    .grid .text-content {
        padding-left: 29%;
        padding-right: 2%;
    }
    .portfolio-item:hover .folio-info {
        top: 0px;
    }
    .portfolio-item .portfolio-desc .folio-info h5 {
        text-transform: uppercase;
        text-align: center;
        font-weight: normal;
        font-size: 10px;
        margin: 10px 0 0 0;
    }
    nav#filter li {
        display: inline-block;
        margin: 0 0 23px 5px;
    }
    ;
}
#owl-demo .item {
    background: #3fbf79;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
.customNavigation {
    text-align: center;
}
.customNavigation a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.contact-parlex {
    padding-top: 0px;
    background-image: url('../images/banner-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.parlex-back {
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.37);
    color: #FDFDFD !important;
}
.parlex-back .heading p {
    color: #FDFDFD;
}

#clients {
    background: #fff;
}
/*Price table*/
.flat .plan {
    border-radius: 0px;
    list-style: none;
    padding: 0 0 20px;
    margin: 0 0 15px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29) !important;
}
.flat .plan li {
    padding: 10px 15px;
    color: #ccc;
    border-top: 1px solid #f5f5f5;
    -webkit-transition: 300ms;
    transition: 300ms;
}
.flat .plan li.plan-price {
    border-top: 0;
}
.flat .plan li.plan-name {
    border-radius: 0;
    padding: 15px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    background: #4E4E4E;
    margin-bottom: 30px;
    border-top: 0;
}
.flat .plan li > strong {
    color: #6B6B6B;
    font-weight: normal;
}
.flat .plan li.plan-action {
    margin-top: 10px;
    border-top: 0;
}
.flat .plan.featured {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.flat .plan.featured:hover li.plan-name, .flat .plan:hover li.plan-name, .flat .plan.featured.plan-name {
    background: #0F60A0!important;
}
.customNavigation {
    display: none;
}
#clients .heading {
    margin: 0px;
}
.isotope-item {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    opacity: 1;
}
.isotopeWrapper article {
    margin: 0px;
}
